.aboutdiv2{
    background: url(../cover3.webp);
    height: 1000px;
    background-size: cover!important;
    padding:30% 30% 30% 10%!important;
    }

    .aboutdiv2 p{
      width: 400px;
      height: 200px;
      text-align: left;
        }

        .aboutimg{
            position: absolute;
            top: 140px;
            right:0px;
            z-index: -1;
        }
        .aboutimg2{
            position: absolute;
            top: 140px;
            left:0px;
            z-index: -1;
        }